<!-- PRELOADER -->
<div class="arlo_tm_preloader">
  <div class="spinner_wrap">
    <div class="spinner"></div>
  </div>
</div>
<!-- /PRELOADER -->


<!-- WRAPPER ALL -->
<div class="arlo_tm_all_wrap" data-magic-cursor="" data-color="crimson">

  <!-- MOBILE MENU -->
  <div class="arlo_tm_mobile_menu">
    <div class="mobile_menu_inner">
      <div class="container">
        <div class="mobile_in">
          <div class="logo">
            <a href="#"><img src="assets/img/logo/mobile/dark.png" alt="" /></a>
          </div>
          <div class="my_trigger">
            <div class="hamburger hamburger--collapse-r">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <div class="container">
        <div class="dropdown_inner">
          <ul class="anchor_nav">
            <li class="current"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /MOBILE MENU -->

  <!-- TOPBAR -->
  <div class="arlo_tm_topbar">
    <div class="container">
      <div class="topbar_inner">
        <div class="logo">
          <a href="#"><img class="dark" src="assets/img/logo/mobile/dark.png" alt="" /></a>
        </div>
        <div class="menu">
          <ul class="anchor_nav">
            <li class="current"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /TOPBAR -->

  <!-- HERO -->
  <div class="arlo_tm_hero" id="home">
    <div class="background">
      <div class="image" data-img-url="assets/img/slider/background.png"></div>
      <div class="overlay"></div>
    </div>
    <div class="content">
      <div class="image_wrap">
        <div class="main" data-img-url="assets/img/about/1.png"></div>
      </div>
      <div class="name_holder">
        <h3>Rosabella <span>Juan</span></h3>
      </div>
      <div class="text_typing">
        <p>I'm a <span class="arlo_tm_animation_text_word"></span></p>
      </div>
    </div>
    <div class="arlo_tm_arrow_wrap bounce anchor">
      <a href="#about"><i class="xcon-angle-double-down"></i></a>
    </div>
  </div>
  <!-- /HERO -->

  <!-- ABOUT -->
  <div class="arlo_tm_about" id="about">
    <div class="container">
      <div class="arlo_tm_main_title">
        <span>Biography</span>
        <h3>About Me</h3>
      </div>
      <div class="about_inner">
        <div class="left">
          <div class="about_image_wrap parallax" data-relative-input="true">
            <div class="image layer" data-depth="0.1">
              <img src="assets/img/ratios/550x650.jpg" alt="" />
              <div class="inner" data-img-url="assets/img/about/1.png"></div>
            </div>
            <div class="border layer" data-depth="0.2">
              <img src="assets/img/ratios/550x650.jpg" alt="" />
              <div class="inner"></div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="about_title">
            <h3>I'm Rosabella Juan and <span class="arlo_tm_animation_text_word"></span></h3>
          </div>
          <div class="text">
            <p>Hi! My name is <span>Rosabella Juan</span>. I am a Web Developer, and I'm very passionate and dedicated to my work. With 5 years experience as a professional Web developer, I have acquired the skills and knowledge necessary to make your project a success.</p>
          </div>
          <div class="about_short_contact_wrap">
            <ul>
              <li>
                <img class="svg" src="assets/img/svg/calendar-4.svg" alt="" />
                <span><label>Age:</label> 25</span>
              </li>
              <li>
                <img class="svg" src="assets/img/svg/location-1.svg" alt="" />
                <span><label>Location:</label> <a class="href_location" href="#">villejuif, Paris, France</a></span>
              </li>
              <li>
                <img class="svg" src="assets/img/svg/quotes.svg" alt="" />
                <span><label>Interests:</label> Reading</span>
              </li>
              <li>
                <img class="svg" src="assets/img/svg/study-5.svg" alt="" />
                <span><label>Study:</label> <a class="href_location" href="#"> Sorbonne University</a></span>
              </li>
              <li>
                <img class="svg" src="assets/img/svg/degree-1.svg" alt="" />
                <span><label>Degree:</label> Master</span>
              </li>
              <li>
                <img class="svg" src="assets/img/svg/message-3.svg" alt="" />
                <span><label>Mail:</label> <a href="mailto:example@gmail.com">rosabella.juan.eng&#64;gmail.com</a></span>
              </li>
<!--              <li>-->
<!--                <img class="svg" src="assets/img/svg/call-2.svg" alt="" />-->
<!--                <span><label>Phone:</label> <a href="tel:+77 022 177 05 05">+77 022 177 05 05</a></span>-->
<!--              </li>-->
            </ul>
          </div>
<!--          <div class="arlo_tm_button">-->
<!--            <a href="assets/pdf/Rosabella%20Juan's%20CV.pdf" download><span>Download CV</span></a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
  <!-- /ABOUT -->

  <!-- SERVICES -->
  <div class="arlo_tm_section" id="services">
    <div class="arlo_tm_services">
      <div class="container">
        <div class="arlo_tm_main_title">
          <span>Technical Background</span>
          <h3>Skills</h3>
        </div>
        <div class="service_inner">
          <ul>
            <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s">
              <div class="inner">
                <img class="svg" src="assets/img/svg/spring-boot.svg" alt="" />
                <h3>Spring</h3>
                <p>Spring Framework serves as an ideal choice for building high-performance and scalable backend systems for modern web and mobile applications in Java.</p>
              </div>
            </li>
            <li class="wow fadeInLeft" data-wow-duration="1.5s">
              <div class="inner">
                <img class="svg" src="assets/img/svg/spring-boot.svg" alt="" />
                <h3>Spring Boot</h3>
                <p>Spring Boot built on top of the Spring Framework that provides Production-ready features such as monitoring, metrics, and health checks which are critical in production environments </p>
              </div>
            </li>
            <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s">
              <div class="inner">
                <img class="svg" src="assets/img/svg/jpa.svg" alt="" />
                <h3>JPA</h3>
                <p>JPA is a popular ORM framework that provides a standard way to map Java objects to relational database tables.</p>
              </div>
            </li>
            <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.2s">
              <div class="inner">
                <img class="svg" src="assets/img/svg/angular.svg" alt="" />
                <h3>Angular</h3>
                <p>Angular is a powerful front-end web development framework to build dynamic and responsive web applications. it allows me to break down large applications into small reusable components</p>
              </div>
            </li>
            <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.2s">
              <div class="inner">
                <img class="svg" src="assets/img/svg/swift.svg" alt="" />
                <h3>SwiftUI</h3>
                <p>SwiftUI is a user interface toolkit used for creating native applications across all Apple platforms including iOS, macOS, tvOS, and watchOS.</p>
              </div>
            </li>

          </ul>
          <div class="lets_work wow fadeInLeft" data-wow-duration="1.5s">
            <p>Are you interested in working with me? <a href="#contact"> Let's started now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /SERVICES -->

  <!-- PORTFOLIO -->
  <div class="arlo_tm_section" id="portfolio">
    <div class="arlo_tm_portfolio">
      <div class="container">
        <div class="arlo_tm_main_title">
          <span>Projects</span>
          <h3>Portfolio</h3>
        </div>
        <div class="portfolio_inner">
          <div class="arlo_tm_portfolio_titles"></div>
          <div class="portfolio_filter">
            <ul>
              <li><a href="#" class="current" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".web">Web</a></li>
              <li><a href="#" data-filter=".mobile">Mobile</a></li>
              <li><a href="#" data-filter=".consultancy">Consultancy</a></li>
            </ul>
          </div>
          <div class="portfolio_list">
            <ul class="gallery_zoom">
              <li class="web">
                <div class="inner">
                  <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Gym" data-category="Web">
                    <a href="https://rosabellajuan.com/gym">
                      <img src="assets/img/ratios/ratio-1-1.jpg" alt="" />
                      <div class="main_image" data-img-url="assets/img/portfolio/portfolio3.png" ></div>
                    </a>
                  </div>
                </div>
              </li>
              <li class="web">
                <div class="inner">
                  <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Barber Website" data-category="Web">
                    <a href="https://rosabellajuan.com/haircut-salon/">
                      <img src="assets/img/ratios/ratio-1-1.jpg" alt="" />
                      <div class="main_image" data-img-url="assets/img/portfolio/portfolio4.jpg"></div>
                    </a>
                  </div>
                </div>
              </li>
              <li class="mobile">
                <div class="inner">
                  <div class="entry arlo_tm_portfolio_animation_wrap" data-title="Barber Website" data-category="mobile">
                    <a class="zoom" href="assets/img/portfolio/portfolio5.png">
                      <img src="assets/img/ratios/ratio-1-1.jpg" alt="" />
                      <div class="main_image" data-img-url="assets/img/portfolio/portfolio5.png"></div>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /PORTFOLIO -->

  <!-- CONTACT -->
  <div class="arlo_tm_section" id="contact">
    <div class="arlo_tm_contact">
      <div class="container">
        <div class="contact_inner">
          <div class="arlo_tm_main_title">
            <span>Contact</span>
            <h3>Get in Touch</h3>
          </div>
          <div class="desc">
            <p class="wow txt" data-splitting>Please fill out the form on this section to contact with me and I will get in touch with you as soon as possible</p>
          </div>
          <div class="wrapper">
            <div class="left wow fadeInLeft" data-wow-duration="1.5s">
              <div class="fields">
                <form class="contact_form" id="contact_form" ngNativeValidate #myForm = "ngForm" (ngSubmit) = "onSubmit(myForm)">
                  <div class="first">
                    <ul>
                      <li>
                        <input id="name" type="text" placeholder="Name" autocomplete="off" name="name" [(ngModel)]="contactMeRequest!.name" required>
                      </li>
                      <li>
                        <input id="email" type="text" placeholder="Email" autocomplete="off" name="email" [(ngModel)]="contactMeRequest!.email" required>
                      </li>
                    </ul>
                  </div>
                  <div class="last">
                    <textarea id="message" placeholder="Message" name="message" [(ngModel)]="contactMeRequest!.message" required></textarea>
                  </div>
                  <div class="arlo_tm_button" data-color="dark">
                    <input type="submit" value="Send Message" class="send"/>
                  </div>
                  <!-- If you want change mail address to yours, just open "modal" folder >> contact.php and go to line 4 and change detail to yours.  -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /CONTACT -->

  <!-- COPYRIGHT -->
  <div class="arlo_tm_section">
    <div class="arlo_tm_copyright">
      <div class="container">
        <div class="inner">
          <div class="copy wow fadeInLeft" data-wow-duration="1.5s">
            <p>Developed by Rosabella Juan © 2022</p>
          </div>
          <div class="social wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
            <ul>
              <li><a href="#"><img class="svg" src="assets/img/svg/social/facebook.svg" alt="" /></a></li>
              <li><a href="#"><img class="svg" src="assets/img/svg/social/instagram.svg" alt="" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /COPYRIGHT -->

  <!-- CURSOR -->
  <div class="mouse-cursor cursor-outer"></div>
  <div class="mouse-cursor cursor-inner"></div>
  <!-- /CURSOR -->

</div>
<!-- / WRAPPER ALL -->
